body {
  font-family: "Lucida Handwriting";
  text-align: center;
  color: white;
  background-color: black;
}

a{
  color: #FF33CC;
  text-decoration: none;
}

a:hover{
  color: #00CCCC;
}

div.box {
  width:220px;
  padding:10px;
  border:5px white;
  margin:0px;
}

